.button-container {
  width: 85px;
  height: 85px;
  text-align: center;
  border-radius: 8px;
  background-color: #BF2604;
  color: white;
  font-size: 58px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}