
.buttonss {
    
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.categoryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
}
